@import "../../../main/css/common.less";
.Page-articleEdit {
    .articleEdit {
        background-color: #EEEEEE;
        width: 100%;
        display: table;
        &.template_2 {
            background-size: 7.5rem;
            background-position: 0 3rem;
            background-image: url("@{WEI_HOST}webApp/images/article/bg_m6.jpg");
        }
        &.template_3 {
            background-size: 7.5rem;
            background-position: 0 3rem;
            background-image: url("@{WEI_HOST}webApp/images/article/bg_m4.jpg");
        }
        &.template_4 {
            background-size: 7.5rem;
            background-position: 0 3rem;
            background-image: url("@{WEI_HOST}webApp/images/article/bg_m5.jpg");
        }
        &.template_5 {
            background-size: 7.5rem;
            background-position: 0 3rem;
            background-image: url("@{WEI_HOST}webApp/images/article/bg_m3.jpg");
        }
        &.template_6 {
            background-color: #000;
        }
        .header {
            height: 0.86rem;
            background-color: #FFF;
            line-height: 0.86rem;
            border-bottom: 1px solid #d9d9d9;
            font-size: 17px;
            width: 7.5rem;
            position: fixed;
            z-index: 99;
            .draft {
                color: #888;
                padding: 0 0.30rem;
                float: left;
            }
            .delete {
                color: #888;
                padding: 0 0.30rem;
                float: left;
                cursor: pointer;
            }
            .success {
                padding: 0 0.3rem;
                color: #13ae24;
                float: right;
                cursor: pointer;
            }
            .preview {
                padding: 0 0.3rem;
                color: #13ae24;
                float: right;
                cursor: pointer;
            }
        }
        .articleSetting {
            margin-top: 1.16rem;
            width: 100%;
            background-color: #FFF;
            display: table;
            padding: 0.2rem 0;
            .settingMain {
                width: 92%;
                margin-left: 4%;
                font-size: 17px;
                .cover {
                    width: 2.60rem;
                    height: 2.60rem;
                    float: left;
                    display: block;
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: cover;
                    .editCoverBtn {
                        position: absolute;
                        color: #FFF;
                        right: 0px;
                        bottom: 0.1rem;
                        height: 0.5rem;
                        line-height: 0.5rem;
                        width: 1rem;
                        font-size: 16px;
                        text-align: center;
                        background-color: rgba(0, 0, 0, 0.4);
                        border-radius: 0.3rem 0 0 0.3rem;
                    }
                }
                .titleTemplate {
                    float: right;
                    width: 4rem;
                    height: 2.60rem;
                    position: relative;
                    .title {
                        line-height: 0.55rem;
                        height: 1.5rem;
                        width: 100%;
                        overflow: hidden;
                        display: inline-block;
                    }
                    .title.noTitle {
                        background-image: url('@{WEI_HOST}webApp/images/article/addItemIcon.png');
                        background-repeat: no-repeat;
                        background-position: left 0.1rem;
                        background-size: 0.30rem;
                        text-indent: 0.4rem;
                        color: #888888;
                    }
                    .selectTemplate {
                        background-image: url('@{WEI_HOST}webApp/images/article/tools.png');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        padding-left: 30px;
                        background-position: 0 27%;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        cursor: pointer;
                    }
                }
            }
        }
        .articleMusic {
            background-color: #FFF;
            height: 45px;
            border-top: 1px solid #EEEEEE;
            display: table;
            width: 100%;
            .musicMain {
                width: 92%;
                margin-left: 4%;
                font-size: 17px;
                line-height: 45px;
                .musicAudio {
                    float: left;
                    min-width: 4rem;
                    .my_audio {
                        background: none;
                        margin-top: 2.5px;
                        .btn_play {
                            margin-left: 0rem;
                            cursor: pointer;
                        }
                    }
                }
                .musicAudio.noAudio {
                    color: #aaaaaa;
                    background-size: 15px;
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-image: url("@{WEI_HOST}webApp/images/article/noMusic.png");
                    text-indent: 20px;
                }
                .selectMusic {
                    background-image: url('@{WEI_HOST}webApp/images/article/tools.png');
                    background-repeat: no-repeat;
                    background-size: 25px;
                    padding-left: 30px;
                    float: right;
                    background-position: left 0.03rem;
                    cursor: pointer;
                }
            }
        }
        .addItem {
            width: 0.7rem;
            height: 0.6rem;
            border: 1px solid #a4a4a4;
            box-sizing: border-box;
            border-radius: 0.08rem;
            margin: 0.35rem auto;
            position: relative;
        }
        .addItem:after {
            content: "＋";
            position: absolute;
            left: 50%;
            top: -1px;
            line-height: 0.6rem;
            height: 0.6rem;
            width: 0.7rem;
            margin-left: -0.35rem;
            text-align: center;
            font-size: 21px;
            color: #a4a4a4;
            cursor: pointer;
        }
        &.template_3 .addItem, &.template_4 .addItem, &.template_5 .addItem, &.template_6 .addItem {
            border: 1px solid #FFF;
        }
        &.template_3 .addItem:after, &.template_4 .addItem:after, &.template_5 .addItem:after, &.template_6 .addItem:after {
            color: #FFF;
        }
        .itemTools {
            width: 100%;
            height: 0.9rem;
            background-color: #FFF;
            margin: 0.2rem 0;
            .main {
                margin: 0 auto;
                font-size: 17px;
                //padding-left: 0.8rem;
                height: 0.9rem;
                line-height: 0.9rem;
                display: table;
                .item {
                    float: left;
                    background-image: url('@{WEI_HOST}webApp/images/article/tools.png');
                    background-repeat: no-repeat;
                    background-position: left top;
                    background-size: 0.5rem;
                    width: 1.2rem;
                    height: 0.9rem;
                    margin-left: 0.1rem;
                    line-height: 0.9rem;
                    padding-left: 0.6rem;
                    cursor: pointer;
                }
                .img {
                    background-position: 0 -1.55rem;
                }
                .txt {
                    background-position: 0 -2.35rem;
                }
                .sale {
                    background-position: 0 -3.15rem;
                }
                .video {
                    background-position: 0 -3.95rem;
                }
            }
        }
        .contentItem {
            display: inline-block;
            //width: 100%;
            width: 7.5rem;
        }
        .articleItem {
            background-color: #FFF;
            width: 100%;
            position: relative;
            padding-top: 0.2rem;
            .itemImg {
                width: 92%;
                height: 3.2rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                position: relative;
                z-index: 1;
                margin: 0rem auto 0.2rem;
            }
            &.sale .itemImg:after {
                content: "拍品";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0.8rem;
                height: 0.66rem;
                background-image: url('@{WEI_HOST}webApp/images/article/articleSaleIcon.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                font-size: 17px;
                color: #FFF;
                text-align: center;
                line-height: 0.5rem;
            }
            .itemTxt {
                width: 92%;
                line-height: 0.45rem;
                font-size: 17px;
                color: #424242;
                margin: 0rem auto 0.2rem;
                overflow: hidden;
                max-height: 0.9rem;
                text-overflow: ellipsis;
                white-space: pre-line;
                word-wrap: break-word;
            }
            .itemTxt.moreTxt {
                max-height: 2.25rem;
            }
            .delItem {
                background-image: url('@{WEI_HOST}webApp/images/article/delItem.png');
                -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 0.5rem;
                position: absolute;
                top: 0.1rem;
                left: 0.1rem;
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                outline: none;
                z-index: 2;
            }
            .toolsMain {
                border-top: 1px solid #EEEEEE;
                width: 100%;
                .tools {
                    height: 0.9rem;
                    width: 96%;
                    margin-left: 4%;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    .add {
                        color: #888888;
                        font-size: 17px;
                        line-height: 0.9rem;
                        background-image: url('@{WEI_HOST}webApp/images/article/addItemIcon.png');
                        background-repeat: no-repeat;
                        background-position: left 0.28rem;
                        background-size: 0.30rem;
                        text-indent: 0.4rem;
                        flex: 1;
                        -webkit-flex: 1;
                        -webkit-box-flex: 1;
                        overflow: hidden;
                    }
                    .add.sale {
                        background: none;
                        text-indent: 0;
                    }
                    .add.none {
                        background: none;
                    }
                    .add.edit {
                        background-image: url('@{WEI_HOST}webApp/images/article/editIcon.png');
                        background-size: 0.4rem;
                        background-position: left center;
                        background-repeat: no-repeat;
                    }
                    .position {
                        width: 2rem;
                        border-left: 1px solid #EEEEEE;
                        .down {
                            background-image: url('@{WEI_HOST}webApp/images/article/downIcon.png');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 0.44rem;
                            display: block;
                            width: 0.44rem;
                            height: 0.44rem;
                            float: right;
                            padding: 0.23rem 0.36rem 0.23rem 0.18rem;
                        }
                        .down.disabled {
                            background-image: url('@{WEI_HOST}webApp/images/article/downDisabledIcon.png');
                        }
                        .up {
                            background-image: url('@{WEI_HOST}webApp/images/article/upIcon.png');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 0.44rem;
                            display: block;
                            width: 0.44rem;
                            height: 0.44rem;
                            padding: 0.23rem 0.18rem 0.23rem 0.36rem;
                            float: right;
                        }
                        .up.disabled {
                            background-image: url('@{WEI_HOST}webApp/images/article/upDisableIcon.png');
                        }
                    }
                }
            }
        }
    }
}
