<template >
    <div>
        <div :class="['proxy-setting', visible ? '' : 'hide']">
            <div class="ps-item">
                <label class="ps-label" title="选择数据来源，方便前期测试">数据</label>
                <div class="list">
                    <div
                        v-for="item in envs"
                        @click="selectDataSource"
                        :data-id="item.name"
                        :class="dataSourceSelectClass(item)"
                    >
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="ps-item" v-if="dataSource == 'ip'">
                <label class="ps-label" title="后端本地ip，方便前期对接">ip</label>
                <div>
                    <input type="text"
                        class="proxy-input"
                        placeholder="后端本地ip 172.162.1.2:8000"
                        v-model="ipHost">
                </div>
            </div>
            <div class="ps-item">
                <label class="ps-label" title="代理开启后，将从指定的host加载js文件">代理</label>
                <div>
                    <input type="text"
                        class="proxy-input"
                        placeholder="前端本地ip 172.162.1.2:8000"
                        v-model="proxyHost">
                    <button :class="['proxy-toggle', proxyStatus ? 'selected' : '']"
                            @click="toggleProxy">{{ proxyStatus ? '关闭' : '开启'}}</button>
                </div>
            </div>
            <div class="ps-item">
                <label class="ps-label" title="代理开启后，将从指定的host加载js文件">环境</label>
                <div style="justify-content: space-between;">
                    <select v-model="wpt_env_num" @change="handleTestEnvChange">
                        <option v-for="item in testEnv" :value="item" :key="item">{{item}}</option>
                    </select>
                    <button class="proxy-toggle"
                            @click="toFB">去发布</button>
                </div>
            </div>
            <div class="ps-item">
                <label class="ps-label" title="访问未开放入口">入口</label>
                <div>
                    <input type="text"
                        class="proxy-input"
                        placeholder="链接地址"
                        v-model="href">
                    <button @click="hrefJump" :class="['proxy-toggle', 'flex-1']">跳转</button>
                    <button @click="scanQrcode" :class="['proxy-toggle', 'flex-1']">扫一扫</button>
                    <button @click="createQrcode" :class="['proxy-toggle', 'flex-1']">二维码</button>
                </div>
            </div>
            <div class="ps-item" @click="updateLH" >
                <label class="ps-label" title="当前url" @click="cpUrl">curl</label>
                <div style="word-break: break-all; line-height: 1; display: block;">
                    {{ locationHref }}
                    <p style="font-size: .8em; color: gray; line-height: 2;">点击刷新，点curl复制</p>
                </div>
            </div>
            <div class="ps-item">
                <button :class="['flex-1 clear-cookie', isFrontGray && 'selected']" @click="toogleFrontGray">
                    前端预发{{ isFrontGray ? '关' : '开' }}
                </button>
                <button
                    :class="['flex-1 clear-cookie setGray', grayCookie == '9cb88042edc55bf85c22e89cf880c63b' && 'selected']"
                    data-cookie="9cb88042edc55bf85c22e89cf880c63b"
                    @click="toogleGray">
                    灰度1
                </button>
                <button
                    :class="['flex-1 clear-cookie setGray', grayCookie == '8b75e68a81477d54a1fd97aa0eae97b3' && 'selected']"
                    data-cookie="8b75e68a81477d54a1fd97aa0eae97b3"
                    @click="toogleGray">
                    灰度2
                </button>
                <button class="flex-1 clear-cookie" @click="reload" title="清除cookie">reload</button>
            </div>
            <div class="ps-item">
                <div>
                    <button class="flex-1 clear-cookie" @click="clearCookie">删除cookie</button>
                    <button class="flex-1 clear-cookie" @click="clearStorage">删除storage</button>
                    <button :class="['flex-1 clear-cookie', useVconsole && 'selected']" @click="toggleVconsole">vConsole</button>
                    <button :class="['flex-1 clear-cookie', wpt_payapi_debug == 'd41d8cd98f00b204e9800998ecf8427e' && 'selected']" @click="togglePayGray">payGray</button>
                </div>
            </div>
            <div class="ps-item">
                <button class="flex-1 submit" @click="submit">确认</button>
                <button class="flex-1 submit" @click="submitRefresh">确认并刷新</button>
            </div>
        </div>
        <div ref="btn" class="toggle-proxy-setting-visible">
            <div @click="toggleProxySettingVisible">设置</div>
            <div @click="showConsole" v-show="useVconsole">log</div>
        </div>
        <div
            :class="['qr-layer', showQrcode ? '' : 'hide']"
            @click="closeQrcode"
        >
            <div ref="qrcode" />
        </div>
    </div>
</template>

<script>
    import VConsole from 'vConsole';
    import MoveElement from './MoveElement'
    import ajaxToggle from './ajaxToggle'
    import { getState, setState } from './store'
    import cookie from './clearCookie'
    import tips from './tips'
    import { create, scan } from './Qrcode'

    // 从localstorage里取数据
    const initState = getState()
    // 判断是否使用vConsole
    const PHONE = window.navigator.userAgent.match(/phone|ios|android/i) && !window.navigator.platform.match(/mac|win/i) // 是真正的手机，不是pc模拟器
    const PCWechat = window.navigator.userAgent.match(/windowsWechat/i) // 是PC端微信
    // 平台不能使pc环境
    const vconsole = (PHONE || PCWechat) && initState.useVconsole && new VConsole({
        defaultPlugins: ['system', 'network', 'element', 'storage'], // 可以在此设定要默认加载的面板
        maxLogNumber: 1000,
    });

    function copyToClipboard(str = '') {
        const input = document.createElement('textarea')
        input.value = str
        input.style.cssText = 'position: absolute; top: -10000px; left: -10000px;'
        document.body.appendChild(input)

        input.setAttribute('readonly', '') // 避免ios弹出键盘
        input.select()
        input.setSelectionRange(0, input.value.length) // 选中文本
        document.execCommand('copy')
        document.body.removeChild(input)
    }

    export default {
        data(){
            return initState
        },
        methods: {
            dataSourceSelectClass(item) {
                const { hosts = [], name } = item
                const match = hosts.includes(this.dataSource) || name == this.dataSource
                return match ? 'selected' : '';
            },
            toggleProxySettingVisible(){
                this.visible = !this.visible

                !this.visible && (this.showQrcode = false)
            },
            // 显示Vconsole
            showConsole() {
                vconsole && vconsole.show()
            },
            updateLH() {
                this.locationHref = location.href
            },
            selectDataSource(event){
                let id = event.currentTarget.dataset['id']
                this.dataSource = id
            },
            toggleProxy(){
                this.proxyStatus = !this.proxyStatus
            },
            // 时候使用前端分支
            toggleGitBranch(){
                if (this.gitBranchStatus) {
                    cookie.remove('gitBranch')
                }
                this.gitBranchStatus = !this.gitBranchStatus
            },
            hrefJump(event) {
                this.submit()
                location.href = this.href
            },
            reload(){
                location.reload()
            },
            // 提交
            submit(){
                // 切换请求
                ajaxToggle(this.dataSource)
                // 保存分支
                if (this.gitBranch && this.gitBranchStatus) {
                    cookie.set('gitBranch', this.gitBranch )
                }
                // 切换隐现
                this.toggleProxySettingVisible()
                // 保存状态
                setState()
            },
            submitRefresh() {
                this.submit();
                location.reload();
            },
            // 切换后端灰度环境
            toogleGray(event) {
                const KEY = 'wpt_debug'
                const currentCookie = event.target.dataset['cookie']
                if (currentCookie == this.grayCookie) {
                    cookie.remove(KEY)
                    this.grayCookie = ''
                } else {
                    cookie.set(KEY, currentCookie, 365, '.weipaitang.com')
                    this.grayCookie = currentCookie
                }
            },
            // 切换前端灰度
            toogleFrontGray() {
                const KEY = 'wpt_front_debug1'
                if (cookie.get(KEY) != 'true') {
                    cookie.set(KEY, 'true')
                    this.isFrontGray = true
                } else {
                    cookie.set(KEY, 'false')
                    this.isFrontGray = false
                }
            },
            toggleVconsole() {
                this.useVconsole = !this.useVconsole
            },
            clearCookie(){
                cookie.removeAll()
                tips('cookie已清除')
            },
            clearStorage() {
                window.localStorage && window.localStorage.clear()
                window.sessionStorage && window.sessionStorage.clear()
                tips('localStorage/sessionStorage已清空')
            },
            // 复制当前链接
            cpUrl() {
                copyToClipboard(window.location.href)
                tips('url已复制剪切板')
            },
            // 切换测试环境
            handleTestEnvChange() {
                cookie.set('wpt_env_num', this.wpt_env_num, 365, '.weipaitang.com')
            },
            // 切换支付cookie
            togglePayGray() {
                const KEY = 'wpt_payapi_debug';
                const defaultValue = 'd41d8cd98f00b204e9800998ecf8427e'

                if (this.wpt_payapi_debug == defaultValue) {
                    cookie.remove(KEY)
                } else {
                    cookie.set(KEY, defaultValue, 365, '.weipaitang.com')
                }
                this.wpt_payapi_debug = cookie.get(KEY)
            },
            toFB() {
                location.href = this.wpt_env_num === 'env_01'
                    ? 'http://fb.weipaitang.com/'
                    : 'http://fbt.weipaitang.com/'
            },
            scanQrcode() {
                scan(({ errMsg = '', resultStr = '' }) => {
                    if (errMsg.includes('ok')) {
                        const a = document.createElement('a');

                        if (resultStr.includes(',')) {
                            a.href = resultStr.split(',')[1] || '';
                        } else {
                            a.href = resultStr;
                        }

                        location.href = `${a.pathname}${a.search}`;
                    }
                });
            },
            createQrcode() {
                this.showQrcode = !!1;

                this.$refs.qrcode.textContent = '';
                create(window.location.href, this.$refs.qrcode);
            },
            closeQrcode(e) {
                e && e.preventDefault();
                e && e.stopPropagation();

                this.showQrcode = !!0;
            }
        },
        mounted(){
            new MoveElement(this.$refs.btn)
        }
    }
</script>

<style lang="scss" scope>
    @mixin btnFromart {
        border: 0;
        outline: 0;
    }

    #__vconsole .vc-switch {
        display: none !important;
    }


    .toggle-proxy-setting-visible {
        @include btnFromart();
        position: fixed;
        left: 5vw;
        bottom: 60px;
        display: block;
        position: fixed;
        color: #fff;
        background-color: rgba(4, 190, 2, 0.77);
        line-height: 1;
        font-size: 16px;
        z-index: 10000;
        border-radius: .30769231em;
        box-shadow: 0 0 0.61538462em rgba(0,0,0,.4);
        display: flex;
        &>div {
            padding: .5em;
            cursor: pointer;
        }
    }

    .proxy-setting {
        position: fixed;
        z-index: 111111;
        width: 80vw;
        max-width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px #14d790;
        padding: 10px;
        font-size: 14px;
        background: #fff;

        &.hide {
            display: none;
        }

        .selected {
            background: #FF1C68 !important;
        }

        button {
            @include btnFromart();
        }


        .ps-item {
            display: flex;
            line-height: 2;

            input {
                font: inherit;
                width: 100%;
            }

            .clear-cookie {
                line-height: 2.6;
                background: #14D790;
                color: #fff;
            }

            .setGray {
                &::after {
                    content: "开";
                }
                &.selected::after {
                    content: "关";
                }
            }

            .flex-1 {
                flex: 1;
            }

            .flex-1 + .flex-1 {
                margin-left: 1px;
            }

            .flex {
                display: flex;
            }

            &:nth-child(n+2) {
                margin-top: 6px;
            }

            .ps-label {
                width: 4em;
                text-align: center;

                &::after {
                    content: ":";
                }
            }

            &>div {
                flex: 1;
                display: flex;

                &.list {
                    color: #fff;
                    div {
                        flex: 1;
                        text-align: center;
                        background: #14D790;
                        cursor: pointer;

                        &:nth-child(n+2) {
                            border-left: 1px solid rgb(218, 216, 236);
                        }
                    }
                }

                .proxy-input {
                    border: 1px solid rgb(116, 162, 193);
                    line-height: 2;
                    flex: 1;
                    margin-right: 10px;
                    box-sizing: border-box;
                    padding: 0 10px;
                }

                .proxy-toggle {
                    width: 4em;
                    line-height: 2;
                    background: #14D790;
                    color: #fff;
                }
            }

             button.submit {
                 display: block;
                 line-height: 2.6;
                 width: 100%;
                 color: #fff;
                 width: 100%;
                 background: rgb(29, 55, 108);
             }
        }
    }

    .qr-layer {
        position: fixed;
        z-index: 999900;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 33vw;
        height: 33vw;

        &.hide {
            visibility: hidden;
            display: none;
        }
    }
</style>
